<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> AngularFire Compat App </ion-title>
    <ion-buttons slot="end" *ngIf="isAuthenticated && !loading">
      <ion-button expand="block" (click)="logoutUser()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Loading indicator -->
  <ng-container *ngIf="loading; else authLoaded">
    <ion-spinner></ion-spinner>
  </ng-container>

  <ng-template #authLoaded>
    <ng-container *ngIf="!isAuthenticated; else authview" #loginview>
      <ion-card>
        <ion-card-header>
          <ion-card-title> Login </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" [(ngModel)]="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
          </ion-item>
          <ion-button expand="block" (click)="loginUser()">Login</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <ng-template #authview>
      <ion-card>
        <ion-card-content>
          <ion-item
            lines="none"
            style="--inner-padding-end: 0px; --padding-start: 0px"
          >
            <h2>Welcome {{ user?.email }}</h2>
            <ion-button
              style="transform: scale(1.5); float: right !important;"
              fill="clear"
              (click)="handleAddThing()"  
              slot="end"
            >
              <ion-icon name="add-circle" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <app-thing-list
        [things]="things$"
        (edit)="handleUpdateThing($event)"
        (delete)="handleDeleteThing($event)"
      ></app-thing-list>

    </ng-template>
  </ng-template>
</ion-content>
